@page "{cardId:int}"
@model TaroApp.Web.Pages.TaroCardModel
@{
    ViewData["Title"] = $"{@Model.Card.Title}";
    if (Model.Card.Postfix is not null)
    {
        ViewData["Title"] += $" {Model.Card.Postfix} ";
    }
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                    <p class="text-center">
                        @if (Model.Card.CardImage is not null)
                        {
                            <img class="mx-auto"
                                 style="width: 200px;"
                                 src="data:image/jpg;base64,@Convert.ToBase64String(Model.Card.CardImage)"
                                 alt="@ViewData["Title"]">
                        }
                    </p>
                </div>
                <div class="col">
                    <h2 class="text-center">Описание карты</h2>
                    <p>
                        @Model.Card.ImageDesc
                    </p>
                    <a asp-page="/TaroCardEdit" asp-route-cardId="@Model.Card.Id">Редактировать</a>
                </div>
            </div>

        </div>
        <div class="col-md-auto">
            <h2 class="text-center">
                Значения карты
            </h2>

            @foreach (var meaning in @Model.Card.Meanings)
            {
                <div class="border rounded-2 p-4 mb-1">
                    <h3>@meaning.Subject</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h4>Прямое</h4>
                            <p class="straightMeaning">@meaning.Straight</p>
                        </div>
                        <div class="col">
                            <h4>Перевернутое</h4>
                            <p class="reverseMeaning">@meaning.Reverse</p>
                        </div>
                    </div>

                    <a asp-page="/CardMeaningPage" asp-route-cardId="@Model.Card.Id" asp-route-meaningId="@meaning.Id">Редактировать</a>
                    <a asp-page="/CardMeaningConfirmDelete" asp-route-meaningId="@meaning.Id" asp-route-cardId="@Model.Card.Id">Удалить</a>

                </div>
            }
            <a asp-page="/CardMeaningPage" asp-route-cardId="@Model.Card.Id">Добавить значение</a>
        </div>
    </div>
</div>